<app-navbar></app-navbar>
<div style="display: flex;" class="container">
  <mat-card *ngFor="let movie of movies">
    <mat-card-header>
      <mat-card-title>{{movie.Title}}</mat-card-title>
      <mat-card-subtitle>
        <h4>Directed by: {{movie.Director.Name}}</h4>
        <h6>Genre: {{movie.Gener.Title}}</h6>
      </mat-card-subtitle>
    </mat-card-header>
    <img style="width: 150px;" src={{movie.ImagePath}} alt={{movie.Title}} />
    <mat-card-actions>
      <button mat-button (click)="openSynopsisDialog(movie.Description, movie.ImagePath)" color="primary">Gener</button>
      <button mat-button (click)="openDirectorDialog(movie.Name, movie.Bio, movie.Birth, movie.Death)"
        color="primary">Director</button>
      <button mat-button (click)="openGenreDialog(movie.Name, movie.Description)" color="primary">Synopsis</button>
      <mat-icon (click)="addMovie(movie._id, movie.Title)">favorite_border</mat-icon>
    </mat-card-actions>
  </mat-card>
</div>