<mat-card *ngFor="let movie of movies; let i=index;">
  <mat-dialog-content>
    <mat-card-title>{{movie.Title}}</mat-card-title>

    <mat-card-subtitle>
      <h4>Directed by: {{movie.Director.Name}}</h4>
      <h4>Genre: {{movie.Genre.Name}}</h4>
      <img src={{movie.ImagePath}} />
    </mat-card-subtitle>
    <!-- <button mat-reised-button (click)="director()">About Director</button> -->
    <!-- <button mat-reised-button (click)="gener()">About Genre</button> -->
  </mat-dialog-content>
</mat-card>