<app-navbar></app-navbar>
<div class="container">
  <mat-card *ngFor="let movie of movies; let i = index;" class="card">
    <mat-card-header>
      <mat-card-title>{{movie.Title}}</mat-card-title>
      <mat-icon (click)="addMovie(movie._id, movie.Title)">favorite_border</mat-icon>
      <mat-card-subtitle>
        <h6>Directed by: {{movie.Director.Name}}</h6>
      </mat-card-subtitle>
    </mat-card-header>
    <img style="width: 250px; height: 350px;" src={{movie.ImagePath}} alt={{movie.Title}} />
    <div>
      <button mat-raised-button (click)="openSynopsisDialog(movie.Description, movie.ImagePath)"
        color="primary">Synopsis</button>
      <button mat-button
        (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birth, movie.Director.Death)"
        color="primary">Director</button>
      <button mat-button (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
        color="primary">Genre</button>
    </div>
  </mat-card>
</div>