<app-navbar></app-navbar>
<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Update Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>

        <mat-form-field>
          <mat-hint>Must be at least 5 characters</mat-hint>
          <input matInput class="input" [(ngModel)]="userData.Username" placeholder="Username" type="text" name="Username" required>
        </mat-form-field>
        <mat-form-field>
          <mat-hint>Must be at least 5 characters</mat-hint>
          <input matInput [(ngModel)]="userData.Password" placeholder="Password" type="password" name="Password" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="userData.Email" placeholder="Email" type="email" name="Email" >
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="userData.Birthday" placeholder="Birthday" type="date" name="Birthday">
        </mat-form-field><!--  -->
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="updateUsersInfo()" class="update_button">
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
  <h1>Your Favorite Movies</h1>
  <div *ngIf="this.getFavoriteMovies.length === 0">
    <h3>You haven't add any movie to your favorites yet!</h3>
  </div>
  <div>
    <mat-card *ngFor="let movie of favoriteMovies; let i = index">
      <mat-card-header>
        <mat-card-title>{{ movie.Title }}</mat-card-title>
        <mat-icon (click)="deleteFavoriteMovie(movie._id, movie.Title)">
          remove
        </mat-icon>
        <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
      </mat-card-header>
      <img src="{{ movie.ImagePath }}" alt="{{ movie.Title }}" />
      <div>
        <button mat-raised-button (click)="openSynopsisDialog(movie.Dscription, movie.ImagePath)">
          Synopsis
        </button>
        <button mat-raised-button (click)="openGenreDialog(movie.Genre.Title, movie.Genre.Description)">
          Genre
        </button>
        <button mat-raised-button
          (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birth, movie.Director.Death)">
          Director
        </button>
      </div>
    </mat-card>
  </div>
</div>