<app-navbar></app-navbar>
<div class="profile_page">
  <mat-card class="container">
    <mat-card-header class="header">
      <mat-card-title class="title">Update Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card_content">
      <form>
        <mat-form-field>
          <mat-hint>Must be at least 5 characters</mat-hint>
          <input matInput [(ngModel)]="userData.Username" placeholder="Username" type="text" name="Username" title ="Password" required>
        </mat-form-field>
        <mat-form-field>
          <mat-hint>Must be at least 5 characters</mat-hint>
          <input matInput [(ngModel)]="userData.Password" placeholder="Password" type="password" name="Password" title="Password" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="userData.Email" placeholder="Email" type="email" name="Email">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="userData.Birthday" placeholder="Birthday" type="date" name="Birthday">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="editUserData()" class="update_button" color="primary">
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
  <!-- <div class="favorite_movies_title"> -->
  <h1 class="title">Your Favorite Movies</h1>
  <!-- </div> -->
  <div class="no_favorites" *ngIf="this.favoriteMovies.length === 0">
    <h2>You haven't chosen any favorite movies yet!</h2>
  </div>
  <div class="movie_container">
    <mat-card *ngFor="let movie of favoriteMovies; let i = index" class="card"
      >
      <mat-card-header class="header">
        <mat-card-title class="card_title">{{ movie.Title }}</mat-card-title>
        <mat-icon (click)="deleteFavoriteMovie(movie._id, movie.Title)"
        >delete</mat-icon>
        <mat-card-subtitle class="card_subtitle"
          ><span
            >Directed by: {{ movie.Director.Name }}</span
          ></mat-card-subtitle
        >
      </mat-card-header>
      <img
      style="width: 250px; height: 350px;"
        src="{{ movie.ImagePath }}"
        alt="{{ movie.Title }}"
        class="card_image"
      />
      <div class="buttons">
        <button
          mat-raised-button
          (click)="openSynopsisDialog(movie.Description, movie.ImagePath, movie.Title)"
          class="button_synopsis"
        >
          Synopsis
        </button>
        <button
          mat-raised-button
          (click)="
            openGenreDialog(
              movie.Genre.Name,
              movie.Genre.Description
            )
          "
          class="button_genre"
        >
          Genre
        </button>
        <button
          mat-raised-button
          (click)="
            openDirectorDialog(
              movie.Director.Name,
              movie.Director.Bio,
              movie.Director.Birth,
              movie.Director.Death
            )
          "
          class="button_director"
        >
          Director
        </button>
      </div>
    </mat-card>
    <!-- <button mat-raised-button (click)="deleteUser()">Delete Profile</button> -->
  </div>
</div>
